Repository jairovg/react-complete-guide: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{json,css,scss,html}": ["prettier --write"],
  "**/*.{mjs,js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"]
}

style: fix linter and prettier issues
  index.html
  package.json
  src/App.tsx
  src/main.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

fix: remove root id related style, it belongs to index now
  src/App.module.css
Due: prettier --write

chore: add recommended extensions for vs-code
  .vscode/extensions.json
Due: prettier --write

build: add support to css modules
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.module.css
  src/App.tsx
  src/index.css
  src/types/styles.d.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

build(eslint): turn off react/require-default-props as it's deprecated and will be removed
  .eslintrc.cjs
Due: none

feat: chapter 3, react essentials - components, jsx, props, state & more
  src/App.tsx
  src/components/Expenses/ExpenseDate.module.scss
  src/components/Expenses/ExpenseDate.tsx
  src/components/Expenses/ExpenseItem.module.scss
  src/components/Expenses/ExpenseItem.tsx
  src/components/Expenses/Expenses.module.scss
  src/components/Expenses/Expenses.tsx
  src/components/UI/Card.module.scss
  src/components/UI/Card.tsx
  src/index.css
  src/types/index.d.ts
Due: prettier --write, eslint --fix

feat: chapter 4-01, react essentials - deep dive
  src/App.tsx
  src/assets/components.png
  src/assets/config.png
  src/assets/jsx-ui.png
  src/assets/react-core-concepts.png
  src/assets/state-mgmt.png
  src/components/CoreConcept.tsx
  src/components/CoreConcepts.tsx
  src/components/Examples.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Section.tsx
  src/components/TabButton.tsx
  src/components/Tabs.tsx
  src/data.ts
  src/index.css
  src/types/index.d.ts
Due: prettier --write, eslint --fix
